<div class="container-fluid">
    <h2 style="margin-left: 17%; margin-top: 3%;"><%= seller.storeName %>님 마이페이지</h2>
    <div class="col-md-10 offset-1">
        <a href="/mypage/seller_update/<%= seller.sellerId %>"><input type="button" value="업체정보수정" class="btn btn-outline-secondary" style="margin-left: 80%"></a>
        <div class="col-md-10 offset-1" style="margin-top: 3%">
                <h4>내 상품 목록</h4></br>
                <div class="row" style="margin-top: 1%;">


                    <% for (var i=0; i< product.length; i++) {%>
                    <div class="col-lg-3 col-md-4 mb-4">
                        <div class="card h-100">
                            <a href="/product/product_detail/<%= product[i].productNum %>"><img class="card-img-top" src="../../<%= product[i].productImg %>"
                                    alt="#"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/product/product_detail/<%= product[i].productNum %>"><%= product[i].productName %></a>
                                </h4>
                                <h5><%= product[i].price %>원</h5>
                            </div>
                        </div>
                    </div>
                    <% } %>

                </div>
            </div>


            <div class="col-md-10 offset-1" style="margin-top: 3%">
                <h4>내 스토리 목록</h4></br>
                <div class="row" style="margin-top: 1%;">

                

                    <% for (var j=0; j< story.length; j++) {%>
                    <div class="col-lg-3 col-md-4 mb-4">
                        <div class="card h-100">
                            <a href="/story/story_detail/<%= story[j].storynum %>"><img class="card-img-top" src="../../<%= story[j].storyImg %>" alt="#"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/story/story_detail/<%= story[j].storynum %>"><%= story[j].storyName %></a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <% } %>


                </div>
            </div>
            </div>
        
    </div>

    
</div>